{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-success btn-sm">{{ button_label|default('Enregistrer') }}</button> 
    <a class="btn btn-sm btn-primary2" href="{{ path('tags_index') }}">Retour à la liste de tags</a>
{{ form_end(form) }}
