{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}

<div class="row pb-5">
    <div class="col-sm-9 mt-3 pr-5 text-justify">
        <h2>Tag : {{ tag.name }}</h2>
        <hr>
        Nombre d'articles du tag : {{ tag.articles | length }}
        {% for t in tag.articles %}
        <div class="card mt-3">
            <div class="card-body">
                <h4>
                    <a href="{{ path('tags_show', { 'slug': t.slug }) }}">{{ t.titre }}</a>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
</div>

<a class="btn btn-sm btn-primary2" href="{{ path('tags_index') }}">Retour liste des tags</a>

<a class="btn btn-sm btn-info2" href="{{ path('tags_edit', {'slug': tag.slug}) }}">Editer</a>

{{ include('tags/_delete_form.html.twig') }}
{% endblock %}