{% extends 'base.html.twig' %}

{% block title %}{{ site_url }} - Tags{% endblock %}

{% block body %}

<div class="row pb-5">
    <div class="col-sm-9 mt-3 pr-5 text-justify">
        <h2>Tag : {{ tag.name }}</h2>
        <hr>
        Nombre d'articles du tag : {{ tag.articles | length }}
    
        {% for t in tag.articles %}
        <div class="card mt-3">
            <div class="card-body">
                <h4>
                    <a href="{{ path('articles_show', { 'slug': t.slug }) }}">{{ t.titre }}</a>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
</div>

{% endblock %}