{% extends 'base.html.twig' %}

{% block title %}citizenz.info : blog Geek & Libre{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-8 mt-3">
        {% for article in articles %}
        <article class="pr-4 mb-4 pb-3 border-bottom text-justify ">
            <h4 class="text-danger">{{ article.categorie.titre }}</h4>
            <h1 class="font-weight-bold">{{ article.titre }}</h1>
            <div class="text-muted py-1">
                Posté le {{ article.createdAt | date("d/m/Y") }} à
                {{ article.createdAt | date("H:i") }} par {{ article.auteur.username }}
            </div>
            <div class="mt-2">
                <img src="{{ article.image }}" alt="{{ article.titre }}" style="max-width: 150px;"
                    class="float-left mr-3 my-1 img-fluid">
                <p>{{ article.contenu | slice(0,400) | raw | nl2br}}...</p>
                <a href="{{ path('articles_show', { 'id': article.id }) }}" class="btn btn-info">Lire la suite</a>
            </div>
        </article>
        {% endfor %}

        <div class="pagination justify-content-center px-2">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>

    {% include('home/sidebar.html.twig') %}

</div>

{% endblock %}