<div class="col-sm-3 mt-3 text-justify">
        <div class="bg-light2 text-center mb-2 border rounded">
                <span class="lead font-weight-bold">Me suivre</span>
        </div>
        <div class="text-center">
                <a href="https://www.facebook.com/o.prieur58/" target="_blank" class="px-1" style="color:#4267B2;"><i
                                class="fab fa-facebook-f px-1 fa-2x"></i></a>
                <a href="https://twitter.com/citizenz58" target="_blank" class="px-1" style="color:#1DA1F2;"><i
                                class="fab fa-twitter px-1 fa-2x"></i></a>
                <a href="https://discord.gg/neVZtE3" target="_blank" class="px-1" style="color:#7289DA;"><i
                                class="fab fa-discord px-1 fa-2x"></i></a>                
                <a href="https://www.linkedin.com/in/olivier-prieur/" target="_blank" class="px-1" style="color:#2867B2;"><i
                                class="fab fa-linkedin-in px-1 fa-2x"></i></a>
                <a href="https://github.com/citizenz7" target="_blank" class="px-1" style="color:#24292E;"><i
                                class="fab fa-github px-1 fa-2x"></i></a>
                <a href="{{ path('rss_feed') }}" target="_blank" class="px-1" style="color:#EE802F;">
                                <i class="fas fa-rss fa-2x"></i></a>
        </div>

        <div class="bg-light2 text-center mt-4 border rounded">
                <span class="lead font-weight-bold">Catégories</span>
        </div>
        <ul class="list-group list-group-flush text-meta2">
                {% for cat in categories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="text-dark" href="{{ path('categories_show', {'slug': cat.slug}) }}">{{ cat.titre }}</a>
                        </li>
                {% endfor %}
        </ul>
       
        <div class="bg-light2 text-center mt-4 border rounded">
                <span class="lead font-weight-bold">Articles populaires</span>
        </div>
        <ul class="list-group list-group-flush text-meta">
                {% for a in articles %}
                        <li class="list-group-item">
                                <img src="{{ a.image }}" alt="{{ a.titre }}" class="img-fluid float-left mr-2 mt-1 rounded" style="max-width:64px; width: 100%;">
                                <a href="{{ path('articles_show', { 'slug': a.slug }) }}" class="text-dark">{{ a.titre | slice(0,45) }}...</a>
                                <span class="badge badge-pill border ml-1 px-2 pb-1">{{ a.vues }}</span>
                        </li>
                {% endfor %}
        </ul>

        <div class="bg-light2 text-center mt-4 border rounded">
                <span class="lead font-weight-bold">Derniers commentaires</span>
        </div>
        <ul class="list-group list-group-flush text-meta">
                {% for c in commentaires %}
                        <li class="list-group-item">
                                <a href="{{ path('articles_show', { 'slug': c.slug }) }}#c-{{ c.id }}" class="text-dark">{{ c.contenu | slice(0,80) | raw }}...</a></a>, 
                                <span class="text-info">par {{ c.username }}, le {{ c.created_at | date("d/m/Y") }}</span>
                        </li>
                {% endfor %}
        </ul>

        <div class="bg-light2 text-center mt-4 mb-2 border rounded">
                <span class="lead font-weight-bold">Tags</span>
        </div>
        <span class="px-1">
                {% for t in tags %}
                        {% if t.articles is not empty %}
                                <a class="badge border text-dark" href="{{ path('tags_show', {'slug': t.slug}) }}">{{ t.name }}</a>
                        {% endif %}
                {% endfor %}
        </span>

        <div class="bg-light2 text-center mt-4 mb-2 border rounded">
                <span class="lead font-weight-bold">Stats</span>
        </div>
        <ul class="list-group list-group-flush text-meta2">
                <li class="list-group-item d-flex justify-content-between align-items-center">Articles
                        <span class="badge badge-success rounded py-1 px-2 ml-5">
                                {{ articlesAll | length }}
                        </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Commentaires
                        <span class="badge badge-success rounded py-1 px-2 ml-5">
                                {{ commentairesAll | length }}
                        </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Lectures
                        <span class="badge badge-success rounded py-1 px-2 ml-5">
                                {% for vue in vues %}
                                        {{ vue.vuesTotal | number_format(0, '', ' ') }}
                                {% endfor %}
                        </span>
                </li>
        </ul>
</div>