{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>S'enregister</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {'label': 'Pseudo', 'attr': {'placeholder': 'Entrez un pseudo'}}) }}
        {{ form_row(registrationForm.email, {'label': 'Email', 'attr': {'placeholder': 'Entrez une adresse e-mail'}}) }}
        {{ form_row(registrationForm.plainPassword, {'label': 'Mot de passe', 'attr': {'placeholder': 'Entrez un mot de passe'}}) }}
        {{ form_row(registrationForm.agreeTerms, {'label': 'Valider le RGPD'}) }}

        <button type="submit" class="btn btn-success">S'enregister</button> <button type="reset" class="btn btn-secondary">Annuler</button>
    {{ form_end(registrationForm) }}
{% endblock %}
