{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row justify-content-md-center py-5">
    <div class="col-sm-4 card px-5 py-4">

        {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="text-center"><h2>S'enregister</h2></div>

        <div class="form-group mt-4">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {'attr': {'placeholder': 'Entrez un pseudo'}}) }}
                {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Entrez une adresse e-mail'}}) }}
                {{ form_row(registrationForm.password, {'attr': {'placeholder': 'Entrez un mot de passe'}}) }}
                {{ form_row(registrationForm.confirmPassword, {'attr': {'placeholder': 'Répétez le mot de passe'}}) }}

                <div class="text-center">
                    <a href="{{ path('cgu') }}"><i class="fas fa-angle-right"></i> Accepter les CGU <i
                            class="fas fa-angle-left"></i></a><br>
                    {{ form_row(registrationForm.agreeTerms, {'label': 'Cochez la case'}) }}

                    <button type="submit" class="btn btn-success">S'enregister</button>
                    <button type="reset" class="btn btn-secondary">Annuler</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
        <p class="text-center text-meta">Déjà enregistré(e) ? <a href="{{ path('app_login') }}">Connexion</a></p>
    </div>
</div>
{% endblock %}