{% extends 'base.html.twig' %}

{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-9 mt-3 pr-5 text-justify">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Réinitialisation de votre mot de passe</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'label': 'Entrez l\'adresse e-mail rattachée à votre compte', 'attr': {'placeholder': 'E-mail'}})
        }}
        <div class="pb-3">
            Nous vous enverrons un lien pour réinitialiser votre mot de passe.
        </div>

        <button class="btn btn-success">Réinitialiser mot de passe</button> <button type="reset" class="btn btn-secondary">Annuler</button>
        {{ form_end(requestForm) }}
    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
</div>
{% endblock %}