{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edition commentaire ID: {{ commentaire.id }}{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-8 mt-3 pr-5 text-justify">
        <h2>Editer votre commentaire (id : {{ commentaire.id }})</h2>

        {{ include('commentaires/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('commentaires/_delete_form.html.twig') }}

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
</div>
{% endblock %}