{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-9 mt-3">

        {% if is_granted('ROLE_ADMIN') %}

        <h2>Articles index</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th width="30%">Titre</th>
                    <th width="20%">Catégorie</th>
                    <th>Créé le</th>
                    <th>MAJ</th>
                    <th>Actif</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th width="15%" class="text-center">actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr class="text-justify">
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td class="font-weight-bold">{{ article.categorie.titre }}</td>
                    <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        {% if article.isInactive %}
                        <span class="text-danger2">non</span>
                        {% else %}
                        <span class="text-success">oui</span>
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <table class="table table-sm table-borderless">
                            <tr>
                                <td>
                                    <a class="btn btn-sm btn-primary2"
                                        href="{{ path('articles_show', {'slug': article.slug}) }}"><i
                                            class="fas fa-glasses"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-info2"
                                        href="{{ path('articles_edit', {'slug': article.slug}) }}"><i
                                            class="fas fa-edit"></i></a>
                                </td>
                                <td>
                                    {{ include('articles/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination justify-content-center px-2">
            {{ knp_pagination_render(articles) }}
        </div>

        {% else %}
        <div class="mt-1 pt-4 pb-2 px-3 alert alert-danger text-center">
            <p>
                <i class="fas fa-user-lock fa-5x"></i>
            </p>
            <p>
                Vous ne pouvez pas accéder à cette page !
            </p>
            <p>
                <a class="btn btn-primary2" href="{{ path('home') }}"><i class="fas fa-home"></i> Retourner à
                    l'accueil</a>
            </p>
        </div>

        {% endif %}
    </div>
    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}

</div>

{% endblock %}