{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ site_url }} - {{ article.titre }}{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-9 mt-3 pr-5">
        <article class="mb-4 pb-3">
            <h4 class="text-danger font-weight-bold">
                <a href="{{ path('categories_show', {'slug': article.categorie.slug}) }}">{{ article.categorie.titre }}</a>
            </h4>
            <h1 class="font-weight-bold text-justify">{{ article.titre }}</h1>

            <div class="mt-3">
                <img src="{{ article.image }}" alt="{{ article.titre }}" class="mr-3 my-1 img-fluid">
            </div>

            <div class="row mt-3">
                <div class="col-3 text-meta text-center pt-2">
                    <hr class="mt-0">
                    <span class="text-sub-meta">Posté le </span> {{ article.createdAt | date("d/m/Y") }}, à {{ article.createdAt | date("H:i") }}<br>
                    {% if article.updatedAt != null %}
                        <span class="text-sub-meta">Mis à jour le </span> {{ article.updatedAt | date("d/m/Y") }} à {{ article.updatedAt | date("H:i") }}
                    {% endif %}
                    <br>
                    <img src="{{ article.auteur.avatar }}" alt="{{ article.auteur.username }}" class="img-fluid mt-2" style="max-width:80px; width:100%;">
                    <br>
                    <span class="text-sub-meta">Auteur :</span>
                    {{ article.auteur.username }} 
                    <p class="mt-2">
                        <span class="badge badge-primary text-meta">Lectures : {{ article.vues }}</span>
                    </p>
                    <hr>
 
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v8.0" nonce="cjDMoHtB"></script>
                    <div class="fb-share-button" data-href="{{ article.slug }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ article.slug }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>

                    <div class="mt-3"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                    <hr>
                </div>
                <div class="col text-justify">
                    {{ article.contenu | raw }}
                    <!-- Tags -->
                    <div class="mt-2 py-2">
                        {% for tag in article.tags %}
                            <span class="badge border py-1 px-1"><a class="text-dark" href="{{ path('tags_show', {'slug': tag.slug}) }}">{{ tag.name }}</a></span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="row d-flex flex-row-reverse">
            <div class="col-sm-1 mb-3">
                <a class="btn btn-sm btn-info" href="{{ path('articles_edit', {'slug': article.slug}) }}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-sm-1 mb-3">
                {{ include('articles/_delete_form.html.twig') }}
            </div>
        </div>
        {% endif %}

        <section id="commentaires" class="mt-4">
            <div class="bg-info rounded">
                <h4 class="px-3 py-2 text-white font-weight-bold">
                    Commentaires de l'article
                    <span class="badge badge-primary rounded">{{ article.commentaires | length }}</span>
                </h4>
            </div>

            {% if app.user %}
            <div class="mt-2 mb-4">
                <p>Vous êtes connecté(e) en tant que : {{ app.user.username }}</p>
                {{ form_start(commentForm) }}
                {#{ form_row(commentForm.auteur, {'label': 'Auteur', 'attr': {'placeholder': 'Votre nom'}}) }#}
                {{ form_row(commentForm.contenu, {'label': 'Texte du commentaire', 'attr': {'placeholder': 'Votre commentaire'}})
                }}
                <button type="submit" class="btn btn-success">Envoyer</button> <button type="reset"
                    class="btn btn-secondary">Annuler</button>
                {{ form_end(commentForm) }}
                <hr>
            </div>
            {% else %}
            <div class="my-3 px-3 py-3 border">
                Vous devez être <a href="{{ path('app_login') }}">connecté(e)</a> pour écrire un commentaire.<br>
                Pas encore de compte ? <a href="{{ path('app_register') }}">Enregistrez-vous</a> gratuitement.
            </div>
            {% endif %}

            {% for commentaire in article.commentaires | reverse %}
            <div id="c-{{ commentaire.id }}" class="row my-1 mx-1 border">
                <div class="col-3 pt-3 text-center bg-light2">
                    {% if commentaire.auteur.avatar != null %}
                    <img class="img-fluid" style="max-width:80px; width:100%;" src="{{ commentaire.auteur.avatar }}"
                        alt="{{ commentaire.auteur }}">
                    {% else %}
                    <img class="img-fluid" src="{{ asset('images/avatar.png') }}" alt="{{ commentaire.auteur }}">
                    {% endif %}
                    <p class="text-meta0">
                        <span class="font-weight-bold">{{ commentaire.auteur }}</span>
                        <br>
                        {{ commentaire.createdAt | date('d/m/y') }} à {{ commentaire.createdAt | date('H:i') }}
                    </p>
                </div>

                <div class="col py-2 text-meta">
                    <p class="text-justify">{{ commentaire.contenu | nl2br | raw }}</p>
                    <div class="text-right">
                        {% if app.user %}
                            {% if (app.user.username == commentaire.auteur) or (is_granted('ROLE_ADMIN')) %}
                                {{ include('commentaires/_delete_form.html.twig') }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}
        </section>

    </div>

    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}
    
</div>
{% endblock %}