{% extends 'base.html.twig' %}

{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="row pb-5">
    <div class="col-sm-8 mt-3 pr-5 text-justify">
        <article class="mb-4 pb-3">
            <h3 class="text-danger font-weight-bold"><a href="{{ path('categories_show', {'slug': article.categorie.slug}) }}">{{ article.categorie.titre }}</a></h3>
            <h1 class="font-weight-bold">{{ article.titre }}</h1>
            <div class="text-muted bg-light px-2 py-1 text-meta">
                Posté le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i") }},
                {% if article.updatedAt != null %}
                mis à jour le {{ article.updatedAt | date("d/m/Y") }} à {{ article.updatedAt | date("H:i") }},
                {% endif %}
                par {{ article.auteur.username }} <span class="badge badge-primary ml-2">Lectures : {{ article.vues }}</span>
            </div>
            <div class="mt-2">
                <img src="{{ article.image }}" alt="{{ article.titre }}" class="float-left mr-3 my-1 img-fluid"
                    style="max-width:350px; width:100%;">
                <p>{{ article.contenu | raw }}</p>
            </div>
            <div class="mt-4 py-2 border-top border-bottom lead">
                Tags :
                <span class="badge badge-secondary rounded py-1 px-2 mx-1"><a href="#"
                        class="text-white text-decoration-none">Debian</a></span>
                <span class="badge badge-secondary rounded py-1 px-2 mx-1"><a href="#"
                        class="text-white text-decoration-none">Nginx</a></span>
                <span class="badge badge-secondary rounded py-1 px-2 mx-1"><a href="#"
                        class="text-white text-decoration-none">Web</a></span>
            </div>
        </article>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="row justify-content-sm-center">
                <div class="col-sm-2 mb-3">
                    <a class="btn btn-sm btn-info" href="{{ path('articles_edit', {'slug': article.slug}) }}">Editer</a>
                </div>
                <div class="col-sm-2 mb-3">
                    {{ include('articles/_delete_form.html.twig') }}
                </div>
                <div class="col-sm-2 mb-3">
                    <a class="btn btn-sm btn-secondary" href="#">Désactiver</a>
                </div>
            </div>
        {% endif %}

        <section id="commentaires" class="mt-4">
            <div class="bg-info rounded">
                <h4 class="px-3 py-2 text-white font-weight-bold">
                    Commentaires de l'article 
                    <span class="badge badge-primary rounded">{{ article.commentaires | length }}</span>
                </h4>
            </div>

            {% if app.user %}
            <div class="mt-2 mb-4">
                <p>Vous êtes connecté(e) en tant que : {{ app.user.username }}</p>
                {{ form_start(commentForm) }}
                {#{ form_row(commentForm.auteur, {'label': 'Auteur', 'attr': {'placeholder': 'Votre nom'}}) }#}
                {{ form_row(commentForm.contenu, {'label': 'Texte du commentaire', 'attr': {'placeholder': 'Votre commentaire'}})
                }}
                <button type="submit" class="btn btn-success">Envoyer</button> <button type="reset"
                    class="btn btn-secondary">Annuler</button>
                {{ form_end(commentForm) }}
                <hr>
            </div>
            {% else %}
            <div class="my-3 px-3 py-3 border">
                Vous devez être <a href="{{ path('app_login') }}">connecté(e)</a> pour écrire un commentaire.<br>
                Pas encore de compte ? <a href="{{ path('app_register') }}">Enregistrez-vous</a> gratuitement.
            </div>
            {% endif %}

            {% for commentaire in article.commentaires | reverse %}
            <div id="c-{{ commentaire.id }}" class="row my-1 mx-1 border">
                <div class="col-3 pt-3 text-center bg-light2">
                    {% if commentaire.auteur.avatar != null %}
                    <img class="img-fluid" style="max-width:80px; width:100%;" src="{{ commentaire.auteur.avatar }}"
                        alt="{{ commentaire.auteur }}">
                    {% else %}
                    <img class="img-fluid" src="{{ asset('images/avatar.png') }}" alt="{{ commentaire.auteur }}">
                    {% endif %}
                    <p class="text-meta">
                        ({{ commentaire.id }}) {{ commentaire.auteur }}<br>
                        le {{ commentaire.createdAt | date('d/m/y') }} à {{ commentaire.createdAt | date('H:i') }}
                    </p>
                </div>
                <div class="col py-2">
                    {{ commentaire.contenu | nl2br | raw }}
                </div>
            </div>
            {% endfor %}
        </section>

    </div>

    {% include('home/sidebar.html.twig') %}
</div>
{% endblock %}