{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-9 mt-3">

        {% if is_granted('ROLE_ADMIN') %}
        <h2>Users index</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Rôle</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{#{ user.roles ? user.roles|json_encode : '' }#}
                        {% if user.roles|json_encode == '["ROLE_USER"]' %}
                        Utilisateur
                        {% else %}
                        Administrateur
                        {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.avatar != null %}
                        <img src="{{ user.avatar }}" alt="{{ user.username }}" class="img-fluid"
                            style="max-width: 40px;">
                        {% else %}
                        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"
                            alt="{{ user.username }}" class="img-fluid" style="max-width: 40px;">
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('users_show', {'id': user.id}) }}">Voir</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('users_edit', {'id': user.id}) }}">Edit.</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="mt-1 pt-4 pb-2 px-3 alert alert-danger text-center">
            <p>
                <i class="fas fa-user-lock fa-5x"></i>
            </p>
            <p>
                Vous ne pouvez pas accéder à cette page !
            </p>
            <p>
                <a class="btn btn-primary2" href="{{ path('home') }}"><i class="fas fa-home"></i> Retourner à
                    l'accueil</a>
            </p>
        </div>
        {% endif %}
    </div>
    {% block sidebar %}
        {{ sidebar() }}
    {% endblock %}

</div>
{% endblock %}